# Various IDEs and Editors
.idea/
**/*~

##frontend code
# dependencies:
node_modules
# compiled frontend for distribution , such as .vue->.js .scss->.css
dist/
package-lock.json

##backend codes
# binary file , debug file 
target/
# anywhere of folder named target

#share .dfx folder for delicated development
# todo
# in the .dfx folder
# exclusive track and  upload 
# 1. .dfx/ic/canisters/
# 2. .dfx/ic/canister_ids.json
.dfx
!.dfx/ic/canisters/
!.dfx/ic/canister_ids.json
