# Various IDEs and Editors
.idea/
**/*~
.vscode/

##frontend code
# dependencies:
node_modules/
# compiled frontend for distribution , such as .vue->.js .scss->.css
dist/
package-lock.json

##backend codes
# binary file , debug file 
target/
# anywhere of folder named target

#share .dfx folder for delicated development
# todo
# in the .dfx folder
# exclusive track and  upload 
# 1. .dfx/ic/canisters/
# 2. .dfx/ic/canister_ids.json
# .dfx
.dfx
!/.dfx/local/canisters/backend/backend.did
!/.dfx/local/canisters/backend/backend.did.d.ts  
!/.dfx/local/canisters/backend/backend.did.js
!/.dfx/local/canisters/backend/index.js


!/.dfx/ic/canisters/backend/backend.did
!/.dfx/ic/canisters/backend/backend.did.d.ts  
!/.dfx/ic/canisters/backend/backend.did.js
!/.dfx/ic/canisters/backend/index.js

change_name.sh

# todo : only want to uplaod / download but never track history? how ?

.env

Cargo.lock